* { 
  font-family: 'helvetica neue', arial, helveica;
  font-weight: 200;
}

code {
  font-family: courier;
  padding: 2px;
  color: #008DE2;
}

body { 
  background: white;
  color: #212121;
  margin: 0;
  padding: 60px 0;
} 

p, h1, h2, blockquote {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 38px;
}

h2 { 
  font-size: 28px;
  margin-top: 48px;
}

p {
  line-height: 24px;
  font-size: 18px;
  text-align: justify;
}

a {
  color: blue;
}

em {
  font-weight: 400;
}

.footer {
  padding: 40px 0;
  background: #efefef;
  margin: 0;
  margin-top: 40px;
  max-width: 100%;
}

.footer p {
  text-align: left;
}

blockquote {
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding: 20px;
  padding-left: 20px;
}

blockquote p:before {
  color:#ccc;
  content:open-quote;
  font-size:4em;
  line-height:.1em;
  margin-right:.25em;
  vertical-align:-.4em;
}