* { 
  font-family: 'helvetica neue', arial, helveica;
  font-weight: 200;
}

code {
  font-family: courier;
  padding: 2px;
  color: #008DE2;
}

body { 
  background: white;
  color: #212121;
  margin: 0;
  padding-top: 60px;
} 

p, h1, h2 {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 38px;
}

h2 { 
  font-size: 28px;
  margin-top: 48px;
}

p {
  line-height: 24px;
  font-size: 18px;
  text-align: justify;
}

a {
  color: blue;
}

em {
  font-weight: 400;
}

.footer {
  padding: 40px 0;
  background: #efefef;
  margin: 0;
  margin-top: 40px;
  max-width: 100%;
}

.footer p {
  text-align: left;
}